.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}

.dontHaveAccount {
    text-decoration: none;
    color: black;
}

.dontHaveAccount.a {
    text-decoration: none;
}

.blogContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.blog{
    text-align: justify;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.category{
    padding: 5px 10px;
    border-radius: 5px;
}

.Technology {
    background-color: #3498db;
}
  .Travel {
    background-color: #2ecc71;
  }
  
  .Food {
    background-color: #e74c3c; 
  }
  
  .Lifestyle {
    background-color: #f39c12;
  }
  
  .Fashion {
    background-color: #8e44ad; 
  }
  
  .Finance {
    background-color: #27ae60; 
  }
  
  .HealthAndFitness {
    background-color: #d35400;
  }
  
  .BookReviews {
    background-color: #2980b9; 
  }
  
  .Entertainment {
    background-color: #c0392b;
  }
  
  .DiyAndCrafts {
    background-color: #16a085;
  }

